@model IEnumerable<Atividade_Avaliativa_fase_6_front.Models.AlugueCarro>

@{
    ViewData["Title"] = "Bairros";
}

<h2>@ViewData["Title"]</h2>

<div class="container-fluid my-2 conteudo__principal">
    <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-7 col-lg-8 my-4">

    <table class="table">
        <!-- cards -->
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-12">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Titulo)</h5>
                                    <p class="card-text lh-lg">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    @Html.DisplayFor(modelItem => item.Avaliacoes) avaliações
                                    </p>
                                    <p class="card-text">
                                        @Html.DisplayFor(modelItem => item.Descricao) avaliações
                                    </p>
                                    <a href="#">Ver mais informações</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
</div>
</div>