@{
    ViewData["Title"] = "Aluguel de Carro";
}

<!-- conteudo principal -->
<div class="container-fluid my-2 conteudo__principal">
    <div class="row justify-content-center">

    <!-- cards -->
    <div class="col-12 col-sm-12 col-md-7 col-lg-8 my-4">
        <!-- card 1 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/carro/carro1.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">1001 Transportation</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                52 avaliações
                </p>
                <p class="card-text">
                    Providenciamos motoristas treinados, uniformizados e licenciados para levar você e sua família com tranqulidade, conforto e seguranca nas suas férias por toda a região da Flórida.
                </p>
                <a href="#">Ver mais informações</a>
            </div>
            </div>
        </div>
        </div>

        <!-- card 2 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/carro/carro2.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Rent cars</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                72 avaliações
                </p>
                <p class="card-text">
                    Quer garantir dias incríveis no lugar mais mágico do mundo? Faça já a locação do seu automóvel pela Rentcars.com e curta a sua viagem com tranquilidade, economia e praticidade.
                </p>
                <a href="#">Ver mais informações</a>
            </div>
            </div>
        </div>
        </div>

        <!-- card 3 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/carro/carro3.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">I-Ride Trolley Service</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                654 avaliações
                </p>
                <p class="card-text">
                    Ótima opção para conhecer a International Drive de ponta a ponta, sem pressa.
                </p>
                <a href="#">Ver mais informações</a>
            </div>
            </div>
        </div>
        </div>

        <!-- card 4 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/carro/carro4.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Disney's Magical Express</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                254 avaliações
                </p>
                <p class="card-text">
                    Se vai ficar hospedado nos hotéis da Disney e não vai precisar alugar carro esta é uma opção excelente... especialmente por estar incluída na sua hospedagem e não ter nenhum custo adicional
                </p>
                <a href="#">Ver mais informações</a>
            </div>
            </div>
        </div>
        </div>
        
    </div>
    </div>
</div>