@{
    ViewData["Title"] = "História";
}

<!-- conteudo principal -->
<div class="container-fluid my-2 conteudo__principal">
    <div class="row justify-content-center">
    <!-- menu lateral -->
    <div
        class="
        col-12 col-sm-12 col-md-3 col-lg-3
        my-2
        menu__lateral
        align-items-center
        "
    >
        <!-- opções -->
        <h5>COVID-19</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Com medidas de segurança
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Evitar multidões
        </label>
        </div>
        <hr />

        <h5>Duração</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Até 1 hora
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            1 a 4 horas
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            4 horas a 1 dia
        </label>
        </div>
        <hr />

        <h5>Idiomas</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Inglês
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Espanhol
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Francês
        </label>
        </div>
        <hr />

        <h5>Cancelamento grátis</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
            checked
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Cancelamento grátis
        </label>
        </div>
        <hr />
    </div>
    <!-- fim menu lateral -->

    <!-- cards hotéis -->
    <div class="col-12 col-sm-12 col-md-7 col-lg-8 my-4">
        <!-- card 1 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/historia/museu1.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">The Orange County Regional History Center</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                15 avaliações
                </p>
                <p class="card-text">
                    <i class="fas fa-quote-right"></i>
                    “Vale muito a pena conhecer!!!” 
                </p>
                <p class="card-text">
                    <i class="fas fa-quote-right"></i>
                    “Muito bom!” 
                </p>
                <a href="#">Ver mais informações</a>
            </div>
            </div>
        </div>
        </div>

        <!-- card 2 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/historia/museu2.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Charles Hosmer Morse Museum of American Art</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                7 avaliações
                </p>
                <p class="card-text">
                    <i class="fas fa-quote-right"></i>
                    “Surpreendente” 
                </p>
                <p class="card-text">
                    <i class="fas fa-quote-right"></i>
                    “Vale a pena em qualquer estação” 
                </p>
                <a href="#">Ver mais informações</a>
            </div>
            </div>
        </div>
        </div>

        <!-- card 3 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/historia/museu3.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Orlando Museum of Art</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                5 avaliações
                </p>
                <p class="card-text">
                    <i class="fas fa-quote-right"></i>
                    “Interessante” 
                </p>
                <p class="card-text">
                    <i class="fas fa-quote-right"></i>
                    “Este museu é bem legal” 
                </p>
                <a href="#">Ver mais informações</a>
            </div>
            </div>
        </div>
        </div>
        
    </div>
    </div>
</div>