@{
    ViewData["Title"] = "Parques";
}
<!-- conteúdo principal -->
    <main>
        
        
        <!-- início fotos de orlando -->
        
        <section class="galeria">
            <img src="~/images/home/03.jpg" alt="Imagem de um hotel em Orlando" class="foto__principal">
        </section>
       
        <!-- fim fotos de orlando -->

        <!-- início planeje sua viagem -->

        <article class="box">
            <section class="box__viagem">
                <h2>Tudo pronto para viver o sonho da Disney? Orlando é o lugar. Mas a diversão em família e as fantasias não acabam por aqui</h2>
                <p class="box__paragrafo">
                    Orlando é uma cidade movida por sonhos. Eles começam no Magic Kingdom da Disney, mas não falta magia em outros cantos. Para começar, crianças e jovens de espírito podem lançar feitiços no Mundo Mágico do Harry Potter, da Universal Studios, ou viver as fantasias de um safári no Animal Kingdom da Disney.Quando todas as aventuras acabarem, há shows ao vivo incríveis em lugares como o B.B. King’s House of Blues e uma cena gastronômica local que só cresce. Se quiser fazer uma pausa, visite locais tranquilos como os Jardins Harry P. Leu para um momento mais calmo.
                </p>
            </section>
            <section class="rosa box__viagem">
                <h2>Comece a planejar sua viagem para Orlando</h2>
                <p class="box__paragrafo">
                    Crie uma viagem para salvar e organizar as suas ótimas ideias e veja tudo em um mapa
                <p>
                    <a href="" class="box_link_viagem">Criar Viagem</a>
                </p>
                </p>
            </section>
        </article>
        <!-- fim planeje sua viagem -->
        
        <!-- início parques em Orlando -->
        <h1>Essencial em Orlando</h1>
        <article class="conteudo">
            <aside>
                <h2>Curta</h2>
                <p>Lugares para ver, maneiras de explorar e experiências típicas de Orlando.</p>
                <a class="btn__veja" href="">Veja tudo</a>
            </aside>
            <section class="produto">
                <img class="img" src="~/images/home/magic-kingdom.jpg" alt="Magic Kingdom">
                <h3 class="box__titulo">Magic Kingdom</h3>
                <p class="box__paragrofo">
                    Parques de diversões e temáticos,
                    Atividades e parques da Disney
                </p>
            </section>

            <section class="produto">
                <img class="img" src="~/images/home/the-wizarding-world.jpg" alt="The Wizarding World of Harry Potter">
                <h3 class="box__titulo">The Wizarding World of Harry Potter</h3>
                <p class="box__paragrofo">
                    Parques de diversões e temáticos
                </p>
            </section>

            <section class="produto">
                <img class="img" src="~/images/home/animal-kingdom.jpg" alt="Disney's Animal Kingom">
                <h3 class="box__titulo">Disney's Animal Kingom</h3>
                <p class="box__paragrofo">
                    Parques de diversões e temáticos,
                    Atividades e parques da Disney
                </p>
            </section>

        </article>
        <!-- fim parques em Orlando -->

        <!-- início descanso em Orlando -->
        <article class="conteudo">
            <aside>
                <h2>Descanse</h2>
                <p>Uma mistura de charme, tradição e modernidade.</p>
                <a class="btn__veja" href="">Veja tudo</a>
            </aside>
            <section class="produto">
                <img class="img" src="~/images/home/lodge.jpg" alt="Disney's Animal Kingdom Lodge">
                <h3 class="box__titulo">Disney's Animal Kingdom Lodge</h3>
            </section>

            <section class="produto">
                <img class="img" src="~/images/home/hilton-orlando-bonnet.jpg" alt="Hilton Orlando Bonnet">
                <h3 class="box__titulo">The Wizarding World of Harry Potter</h3>
            </section>

            <section class="produto">
                <img class="img" src="~/images/home/lake-view.jpg" alt="Four Seasons Resort Orlando at Walt Disney World Resort">
                <h3 class="box__titulo">Four Seasons Resort Orlando at Walt Disney World Resort</h3>
            </section>

        </article>
        <!-- fim descanso em Orlando -->

        <!-- início restaurantes em Orlando -->
        <article class="conteudo">
            <aside>
                <h2>Saboreie</h2>
                <p>Restaurantes, bares e outros locais essenciais em Orlando.</p>
                <a class="btn__veja" href="">Veja tudo</a>
            </aside>
            <section class="produto">
                <img class="img" src="~/images/home/harvest-bar.jpg" alt="Highball & Harvest">
                <h3 class="box__titulo">Highball & Harvest</h3>
                <p class="box__paragrofo">
                    $$ - $$$ Americana, Opções vegetarianas, Opções veganas
                </p>
            </section>

            <section class="produto">
                <img class="img" src="~/images/home/plates.jpg" alt="Café Tu Tu Tango">
                <h3 class="box__titulo">Café Tu Tu Tango</h3>
                <p class="box__paragrofo">
                    $$ - $$$ Mexicana, Americana, Latina
                </p>
            </section>

            <section class="produto">
                <img class="img" src="~/images/home/prato.jpg" alt="Prato">
                <h3 class="box__titulo">Prato</h3>
                <p class="box__paragrofo">
                    $$ - $$$ Italiana, Pizza, Opções vegetarianas. 
                    A 8,7 km de Orlando Winter Park, Flórida
                </p>
            </section>
        </article>
        <!-- fim restaurantes em Orlando -->
        
        <!-- início destaques do fórum -->
        <h2>Destaques do Fórum</h2>
        <article class="conteudo_forum">
            <section class="forum__card">
                <h3 class="box__titulo">viagem para disney</h3>
                <p class="box__paragrofo">
                    Por Alex Blue - 5 respostas
                </p>
                <a class="btn__veja" href="">Veja tudo</a>
            </section>

            <section class="forum__card">
                <h3 class="box__titulo">menor indo para os EUA</h3>
                <p class="box__paragrofo">
                    Por Anna Red - 2 respostas
                </p>
                <a class="btn__veja" href="">Veja tudo</a>
            </section>

            <section class="forum__card">
                <h3 class="box__titulo">o site otel.com é ruim</h3>
                <p class="box__paragrofo">
                    Por Bob Brown - 10 respostas
                </p>
                <a class="btn__veja" href="">Veja tudo</a>
            </section>
        </article>
        <!-- fim destaques do fórum -->

        <!-- ínicio casas de temporada -->
        <h2>Passe as férias em uma casa alugada</h2>
        <h3>Casas mais procuradas em Orlando</h3>
        <article class="conteudo">
            <section class="produto">
                <img class="img" src="~/images/home/casa1.jpg" alt="Modern 8 bed house">
                <h3 class="box__titulo">Modern 8 bed 5b golf villa south facing pool</h3>
                <p class="box__paragrofo">
                    Acomoda 18 - 8 quartos - 5 banheiros
                </p>
                <p class="box__preco">
                    a partir de R$ 1927/diária
                </p>
            </section>

            <section class="produto">
                <img class="img" src="~/images/home/c2.jpg" alt="Elegant house">
                <h3 class="box__titulo">Elegant, Stylish 5 BR 4.5Bath Solara Resort Home w/Private Pool, Spa & Foosball</h3>
                <p class="box__paragrofo">
                    Acomoda 10 - 5 quartos - 5 banheiros
                </p>
                <p class="box__preco">
                    a partir de R$ 1060/diária
                </p>
            </section>

            <section class="produto">
                <img class="img" src="~/images/home/c3.jpg" alt="Very Near Disney World">
                <h3 class="box__titulo">House is Very Near Disney World</h3>
                <p class="box__paragrofo">
                    Acomoda 14 - 5 quartos - 5 banheiros
                </p>
                <p class="box__preco">
                    a partir de R$ 1496/diária
                </p>
            </section>
        </article>
        <!-- fim casas de temporada -->

        <!-- início atrações turísticas de Orlando -->
        <h2>Orlando é um lugar fantástico para...</h2>
        <h3>Aventuras para as crianças de todas as idades</h3>
        <article class="conteudo">
            <section class="produto">
                <img class="img" src="~/images/home/manque.jpg" alt="The Twilight Zone Tower of Terror">
                <h3 class="box__titulo">The Twilight Zone Tower of Terror</h3>
                <p class="box__paragrofo">
                    Brinquedos e atividades
                </p>
            </section>

            <section class="produto">
                <img class="img" src="~/images/home/universal.jpg" alt="Universal's Islands of Adventure">
                <h3 class="box__titulo">Universal's Islands of Adventure</h3>
                <p class="box__paragrofo">
                    Parques de diversões e temáticos
                </p>
            </section>

            <section class="produto">
                <img class="img" src="~/images/home/everest.jpg" alt="Expedition Everest - Legend of the Forbidden Montain">
                <h3 class="box__titulo">Expedition Everest - Legend of the Forbidden Montain</h3>
                <p class="box__paragrofo">
                    Brinquedos e atividades
                </p>
            </section>
        </article>
        <!-- fim atrações turíticas de orlando -->

        <!-- início música ao vivo -->
        <h3>Música ao vivo de primeira</h3>
        <article class="conteudo">
            <section class="produto">
                <img class="img" src="~/images/home/musica1.jpg" alt="Howl at the Moon Orlando">
                <h3 class="box__titulo">Howl at the Moon Orlando</h3>
                <p class="box__paragrofo">
                    Pinos-bar
                </p>
            </section>

            <section class="produto">
                <img class="img" src="~/images/home/musica2.jpg" alt="House of Blues">
                <h3 class="box__titulo">House of Blues</h3>
                <p class="box__paragrofo">
                    Bares e clubes, Teatro e espetáculos
                </p>
            </section>

            <section class="produto">
                <img class="img" src="~/images/home/musica3.jpg" alt="Plaza Live Theatre">
                <h3 class="box__titulo">Plaza Live Theatre</h3>
                <p class="box__paragrofo">
                    Teatros
                </p>
            </section>
        </article>
        <!-- fim música ao vivo -->

        <!-- início atrações culturais -->
        <h3>Aprenda se divertindo</h3>
        <article class="conteudo">
            <section class="produto">
                <img class="img" src="~/images/home/cultura1.jpg" alt="NASA Kennedy Space Center Visitor Complex">
                <h3 class="box__titulo">NASA Kennedy Space Center Visitor Complex</h3>
                <p class="box__paragrofo">
                    Observatórios e planetários, Museus especializados a 69,9 km de Orlando. Merritt Island, Flórida
                </p>
            </section>

            <section class="produto">
                <img class="img" src="~/images/home/cultura2.jpg" alt="WonderWorks">
                <h3 class="box__titulo">WonderWorks</h3>
                <p class="box__paragrofo">
                    Centros de entretenimento e jogos
                </p>
            </section>

            <section class="produto">
                <img class="img" src="~/images/home/cultura3.jpg" alt="Orlando Science Center">
                <h3 class="box__titulo">Orlando Science Center</h3>
                <p class="box__paragrofo">
                    Museus de ciência, Observatórios e planetários
                </p>
            </section>
        </article>
        <!-- fim atrações culturais -->
    </main>

    <!-- fim conteudo principal -->