@{
    ViewData["Title"] = "Vida Noturna";
}

<!-- conteudo principal -->
<div class="container-fluid my-2 conteudo__principal">
    <div class="row justify-content-center">
    <!-- menu lateral -->
    <div
        class="
        col-12 col-sm-12 col-md-3 col-lg-3
        my-2
        menu__lateral
        align-items-center
        "
    >
        <!-- opções -->
        <h5>Categorias de produtos</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Shows de comédia
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Eventos esportivos
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Teatros
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Shows
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Jantar e show
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Shows para adultos
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Cirque du Soleil
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Cabaré
        </label>
        </div>
        <hr />

        <h5>Cancelamento grátis</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Cancelamento grátis
        </label>
        </div>
        <hr />

        <h5>Duração</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Até 1 hora
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            1 a 4 horas
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            4 horas a 1 dia
        </label>
        </div>
        <hr />
    </div>
    <!-- fim menu lateral -->

    <!-- cards hotéis -->
    <div class="col-12 col-sm-12 col-md-7 col-lg-8 my-4">
        <!-- card 1 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/vidanoturna/n1.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">O Show de Comédia Mágica Outta Control Magic</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                24 avaliações
                </p>
                <p class="card-text">
                a partir de
                </p>
                <h5>R$ 193,13</h5>
                <p class="card-text">
                por adulto
                </p>
            </div>
            </div>
        </div>
        </div>

        <!-- card 2 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/vidanoturna/n2.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Assentos VIP</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                3 avaliações
                </p>
                <p class="card-text">
                a partir de
                </p>
                <h5>R$ 283,43</h5>
                <p class="card-text">
                por adulto
                </p>
            </div>
            </div>
        </div>
        </div>

        <!-- card 3 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/vidanoturna/n3.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Singing your Dreams - Dinner Show in Orlando</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                56 avaliações
                </p>
                <p class="card-text">
                a partir de
                </p>
                <h5>R$ 334,44</h5>
                <p class="card-text">
                por adulto
                </p>
            </div>
            </div>
        </div>
        </div>

        <!-- card 4 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/vidanoturna/n4.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Mesa Premier</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                11 avaliações
                </p>
                <p class="card-text">
                a partir de
                </p>
                <h5>R$ 2210,73</h5>
                <p class="card-text">
                por grupo
                </p>
            </div>
            </div>
        </div>
        </div>

    </div>
    </div>
</div>