@{
    ViewData["Title"] = "Gastronomia";
}

<!-- conteudo principal -->
<div class="container-fluid my-2 conteudo__principal">
    <div class="row justify-content-center">
    <!-- menu lateral -->
    <div
        class="
        col-12 col-sm-12 col-md-3 col-lg-3
        my-2
        menu__lateral
        align-items-center
        "
    >
        <!-- opções -->
        <h5>COVID-19</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Com medidas de segurança
        </label>
        </div>
        <hr />

        <h5>Tipo</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Restaurantes
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Lanches rápidos
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Docerias
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Café e chá
        </label>
        </div>
        <a href="#" class="btn__mais"
        >Mostrar mais<i class="fas fa-sort-down"></i
        ></a>
        <hr />

        <h5>Características</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Entrega
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Para levar
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Vales-presente disponíveis
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Acesso para cadeirantes
        </label>
        </div>
        <a href="#" class="btn__mais"
        >Mostrar mais<i class="fas fa-sort-down"></i
        ></a>
        <hr />

        <h5>Refeições</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
            checked
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Café da manhã
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Brunch
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Almoço
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Jantar
        </label>
        </div>
        <hr />

        <h5>Preço</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Baratos
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Moderados
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Sofisticados
        </label>
        </div>
        <hr />

        <h5>Cozinha</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Americana
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Italiana
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Asiática
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Frutos do mar
        </label>
        </div>
        <a href="#" class="btn__mais"
        >Mostrar mais<i class="fas fa-sort-down"></i
        ></a>

        <hr />
        <h5>Pratos</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Salada
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Camarão
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Hamburguer
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Peixes
        </label>
        </div>
        <a href="#" class="btn__mais"
        >Mostrar mais<i class="fas fa-sort-down"></i
        ></a>
        <hr />

        <h5>Restrições alimentares</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Opções vegetarianas
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Opções veganas
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Halal
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Opções sem glúten
        </label>
        </div>
    </div>
    <!-- fim menu lateral -->

    <!-- cards hotéis -->
    <div class="col-12 col-sm-12 col-md-7 col-lg-8 my-4">
        <!-- card 1 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/gastronomia/rest1.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Zeta Asia</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                1510 avaliações
                </p>
                <p class="card-text">
                <i class="fas fa-quote-right"></i>
                “Ótimo jantar no Hilton Hotel.”
                </p>
                <p class="card-text">
                <i class="fas fa-quote-right"></i>
                “Clássica e Linda”
                </p>
            </div>
            </div>
        </div>
        </div>

        <!-- card 2 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/gastronomia/rest2.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Ghirardelli Soda Fountain & Chocolate Shop</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                600 avaliações
                </p>
                <p class="card-text">
                <i class="fas fa-quote-right"></i>
                “Parada obrigatória!!”
                </p>
                <p class="card-text">
                <i class="fas fa-quote-right"></i>
                “incríveis!”
                </p>
            </div>
            </div>
        </div>
        </div>

        <!-- card 3 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/gastronomia/rest3.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Chuy’s</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                2.222 avaliações
                </p>
                <p class="card-text">
                <i class="fas fa-quote-right"></i>
                “Ameiiii”
                </p>
                <p class="card-text">
                <i class="fas fa-quote-right"></i>
                “Mexicano pronto para o seu paladar!”
                </p>
            </div>
            </div>
        </div>
        </div>

        <!-- card 4 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/gastronomia/rest4.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Flamingo's Bar & Grille</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                2.711 avaliações
                </p>
                <p class="card-text">
                <i class="fas fa-quote-right"></i>
                “Agradavel”
                </p>
                <p class="card-text">
                <i class="fas fa-quote-right"></i>
                “Ótimo trabalho, Casey!”
                </p>
            </div>
            </div>
        </div>
        </div>

        <!-- card 5 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/gastronomia/rest5.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Chef Art Smith's Homecomin'</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                1.405 avaliações
                </p>
                <p class="card-text">
                <i class="fas fa-quote-right"></i>
                “Recomendamos para quem passar pelo Disney...”
                </p>
                <p class="card-text">
                <i class="fas fa-quote-right"></i>
                “Excelente”
                </p>
            </div>
            </div>
        </div>
        </div>

        <!-- card 6 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/gastronomia/rest6.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Bonefish Grill</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                583 avaliações
                </p>
                <p class="card-text">
                <i class="fas fa-quote-right"></i>
                “Ótimo”
                </p>
                <p class="card-text">
                <i class="fas fa-quote-right"></i>
                “Um pouco caro!”
                </p>
            </div>
            </div>
        </div>
        </div>

        <!-- card 7 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/gastronomia/rest7.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Wine Bar George - A Restaurant & Bar</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                315 avaliações
                </p>
                <p class="card-text">
                <i class="fas fa-quote-right"></i>
                “Melhor opção do Disney Springs”
                </p>
                <p class="card-text">
                <i class="fas fa-quote-right"></i>
                “Recomendo”
                </p>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>