<!-- conteudo principal -->
<div class="container-fluid my-2 conteudo__principal">
  <div class="row justify-content-center">

    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly;">

      <div class="card my-4 mx-4" style="width: 18rem; height: 28rem">
        <img class="card-img-top" src="~/images/entretenimento/e1.jpg" alt="" />
        <div class="card-body">
          <h5 class="card-title">The Wizarding World of Harry Potter</h5>
          <p class="card-text">
            Localizada no The Wizarding World of Harry Potter no parque Islands of Adventure.
          </p>
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>

      <div class="card my-4 mx-4" style="width: 18rem; height: 28rem">
        <img class="card-img-top" src="~/images/entretenimento/e2.jpg" alt="" />
        <div class="card-body">
          <h5 class="card-title">Universal's Islands of Adventure</h5>
          <p class="card-text">
            O parque Islands of Adventure Orlando é um parque de diversões que faz parte do complexo Universal Orlando Resort.
          </p>
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>

      <div class="card my-4 mx-4" style="width: 18rem; height: 28rem">
        <img class="card-img-top" src="~/images/entretenimento/e3.jpg" alt="" />
        <div class="card-body">
          <h5 class="card-title">Disney's Animal Kingdom</h5>
          <p class="card-text">
            Animal Kingdom é o maior parque da Disney em extensão e seu tema principal são os animais e a natureza.
          </p>
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>

      <div class="card my-4 mx-4" style="width: 18rem; height: 28rem">
        <img class="card-img-top" src="~/images/entretenimento/e4.jpg" alt="" />
        <div class="card-body">
          <h5 class="card-title">Universal Orlando Resort</h5>
          <p class="card-text">
            Uma atmosfera mágica e com atrações repletas de efeitos especiais e tecnologia. 
          </p>
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>

      <div class="card my-4 mx-4" style="width: 18rem; height: 28rem">
        <img class="card-img-top" src="~/images/entretenimento/e5.jpg" alt="" />
        <div class="card-body">
          <h5 class="card-title">Discovery Cove - Orlando</h5>
          <p class="card-text">
            Golfinhos, peixes, comida à vontade.
          </p>
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>

      <div class="card my-4 mx-4" style="width: 18rem; height: 28rem">
        <img class="card-img-top" src="~/images/entretenimento/e6.jpg" alt="" />
        <div class="card-body">
          <h5 class="card-title">Disney Springs</h5>
          <p class="card-text">
            Não vá para Orlando e fique sem visitar o melhor complexo de lojas da Disney.
          </p>
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>

      <div class="card my-4 mx-4" style="width: 18rem; height: 28rem">
        <img class="card-img-top" src="~/images/entretenimento/e7.jpg" alt="" />
        <div class="card-body">
          <h5 class="card-title">Magic Kingdom</h5>
          <p class="card-text">
            Lá você volta a ser criança de verdade.
          </p>
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>

      <div class="card my-4 mx-4" style="width: 18rem; height: 28rem">
        <img class="card-img-top" src="~/images/entretenimento/e8.jpg" alt="" />
        <div class="card-body">
          <h5 class="card-title">Lake Rianhard</h5>
          <p class="card-text">
            Celebration é um lugar muito tranquilo, um ótimo lugar para comtemplar e relaxar, principalmente depois de sair do tumulto dos parques.
          </p>
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>

      <div class="card my-4 mx-4" style="width: 18rem; height: 28rem">
        <img class="card-img-top" src="~/images/entretenimento/e9.jpg" alt="" />
        <div class="card-body">
          <h5 class="card-title">Epcot</h5>
          <p class="card-text">
            É um dos parques temáticos construídos no Walt Disney World e dedicado à celebração da inovação tecnológica e cultura internacional. 
          </p>
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>

    </div>

  </div>
</div>
