@{
    ViewData["Title"] = "Dicas úteis";
}

<!-- conteudo principal -->
<div class="container-fluid my-2 conteudo__principal">
    <div class="row justify-content-center">
        <h2>Fóruns sobre dicas em Orlando</h2>

    <!-- cards -->
    <div class="col-12" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
        <!-- card 1 -->
        <div class="card my-2 mx-2" style="width: 18rem; height: 20rem; display: flex; flex-direction: column; justify-content: space-between;">
        <div class="card-body">
            <h5 class="card-title">Dicas desconto militares Disney Orlando<i class="fas fa-comments"></i></h5>
            <h6 class="card-subtitle mb-2 text-muted">Publicado por ulissesucc em 10 de fevereiro de 2019</h6>
            <p class="card-text">Alguém teria dicas atualizadas de descontos para militares dos Parques da Disney, Universal e Sea World? Outros descontos e dicas também serão muito bem...</p>
            <a href="#" class="card-link">Saiba mais</a>
        </div>
        </div>
        <!-- card 2 -->
        <div class="card my-2 mx-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Orlando Fórum: Dicas para Orlando<i class="fas fa-comments"></i></h5>
            <h6 class="card-subtitle mb-2 text-muted">Publicado por luismY3462TQ em 20 de março de 2019</h6>
            <p class="card-text">Tenho blog e já escrevi alguns posts falando sobre Orlando, inclusive a chegada, principais providências e algumas dicas. Em breve vou divulgar o post sobre as atrações e quais recomendo. Dê uma olhadinha...</p>
            <a href="#" class="card-link">Saiba mais</a>
        </div>
        </div>
        <!-- card 3 -->
        <div class="card my-2 mx-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Dicas de enxoval!! Marca Skip Hop<i class="fas fa-comments"></i></h5>
            <h6 class="card-subtitle mb-2 text-muted">Publicado por decorpetp em 27 de fevereiro de 2019</h6>
            <p class="card-text">Legal as dica, se tiver mais poste assim eu posso fixar o tópico nas perguntas frequentes.</p>
            <a href="#" class="card-link">Saiba mais</a>
        </div>
        </div>
        <!-- card 4 -->
        <div class="card my-2 mx-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">O site otel.com é uma cilada<i class="fas fa-comments"></i></h5>
            <h6 class="card-subtitle mb-2 text-muted">Publicado por lidiapaz em 25 de julho de 2019</h6>
            <p class="card-text">Excelentes dicas! Desculpa intrometer no assunto, mas também farei uma viagem e as dicas são ótimas!</p>
            <a href="#" class="card-link">Saiba mais</a>
        </div>
        </div>
        <!-- card 5 -->
        <div class="card my-2 mx-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Dicas de roteiro de viagem<i class="fas fa-comments"></i></h5>
            <h6 class="card-subtitle mb-2 text-muted">Publicado por Alícia L em 28 de dezembro de 2020</h6>
            <p class="card-text">Gente, Sou nova aqui e estou planejando a minha primeira viagem aos EUA e gostaria muito de dicas pra onde ir, onde ficar e o que fazer lá. Vocês foram em alguma agência ou estão fazendo tudo por conta...</p>
            <a href="#" class="card-link">Saiba mais</a>
        </div>
        </div>
        <!-- card 6 -->
        <div class="card my-2 mx-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Fun Cars Miami<i class="fas fa-comments"></i></h5>
            <h6 class="card-subtitle mb-2 text-muted">Publicado por DeborahS2738 em 4 de fevereiro de 2020</h6>
            <p class="card-text">Ola, das 3x que fui na America aluguei com eles e foi tudo certinho, e ainda me ajudaram com informaçoes e dicas. Recomendo.</p>
            <a href="#" class="card-link">Saiba mais</a>
        </div>
        </div>
        <!-- card 7 -->
        <div class="card my-2 mx-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Bebê na disney<i class="fas fa-comments"></i></h5>
            <h6 class="card-subtitle mb-2 text-muted">Publicado por evelyn_shiguematsu em 22 de novembro de 2020</h6>
            <p class="card-text">Super dica! Vamos pedir com certeza!</p>
            <a href="#" class="card-link">Saiba mais</a>
        </div>
        </div>
        <!-- card 9 -->
        <div class="card my-2 mx-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Ingressos dos parques de Orlando<i class="fas fa-comments"></i></h5>
            <h6 class="card-subtitle mb-2 text-muted">Publicado por Stephanieporfirio16 em 6 de janeiro de 2020</h6>
            <p class="card-text">Pessoal, alguém aqui já comprou ingresso no site da empresa Grupo Dicas (https://grupodicas.com/)? Eles me falaram que representam a empresa OPTUR, alguém...</p>
            <a href="#" class="card-link">Saiba mais</a>
        </div>
        </div>
        <!-- card 10 -->
        <div class="card my-2 mx-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Alguém planejando viagem p/ Orlando no segundo...<i class="fas fa-comments"></i></h5>
            <h6 class="card-subtitle mb-2 text-muted">Publicado por Marcelo_ssM em 12 de agosto de 2020</h6>
            <p class="card-text">Oi Tuco vc quer dicas de quais parques ir ou de onde comprar ingressos?</p>
            <a href="#" class="card-link">Saiba mais</a>
        </div>
        </div>
        <!-- card 11 -->
        <div class="card my-2 mx-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Empresa vou para Orlando ė confiável?<i class="fas fa-comments"></i></h5>
            <h6 class="card-subtitle mb-2 text-muted">Publicado por Passport605747 em 13 de janeiro de 2021</h6>
            <p class="card-text">Excelente empresa, preço bem mais baixo e a hospedagem foi muito boa! Recebi um otimo atendimento e ainda me auxiliaram com varias dicas de passeios, pois eu nunca tinha viajado para la antes...</p>
            <a href="#" class="card-link">Saiba mais</a>
        </div>
        </div>
        <!-- card 12 -->
        <div class="card my-2 mx-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Dicas para quem vai para Orlando e não quer alugar...<i class="fas fa-comments"></i></h5>
            <h6 class="card-subtitle mb-2 text-muted">Publicado por Patricia14b em 22 de janeiro de 2021</h6>
            <p class="card-text">Muito obrigada! Estou começando a pensar na possibilidade do carro pois, o que me deixa preocupada em relação ao aluguel do carro é as tarifas pós devolução do veículo...</p>
            <a href="#" class="card-link">Saiba mais</a>
        </div>
        </div>
        <!-- card 13 -->
        <div class="card my-2 mx-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Guardar compras no quarto do hotel<i class="fas fa-comments"></i></h5>
            <h6 class="card-subtitle mb-2 text-muted">Publicado por jhmluna em 14 de fevereiro de 2021</h6>
            <p class="card-text">Obrigado pelas dicas Gláucia. Minha preocupação era também com relação a um carrinho de bebê que pretendo comprar. Mas como deve vir encaixotada, creio que...</p>
            <a href="#" class="card-link">Saiba mais</a>
        </div>
        </div>

        
        
    </div>
    </div>
</div>