@{
    ViewData["Title"] = "Onde se hospedar";
}

<!-- conteudo principal -->
<div class="container-fluid my-2 conteudo__principal">
    <div class="row justify-content-center">
    <!-- menu lateral -->
    <div
        class="
        col-12 col-sm-12 col-md-3 col-lg-3
        my-4
        menu__lateral
        align-items-center
        "
    >
        <!-- opções -->
        <h5>COVID-19</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Com medidas de segurança
        </label>
        </div>
        <hr />

        <h5>Promoções</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Cancelamento grátis
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Reserve agora, pague depois
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Com ofertas especiais
        </label>
        </div>
        <hr />

        <h5>Mais procurados</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Ar-condicionado
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            4 estrelas ou mais
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            4 estrelas
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Romântico
        </label>
        </div>
        <hr />

        <h5>Tipos de acomodação</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
            checked
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Hotéis
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Pousadas
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Condomínios
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Albergues
        </label>
        </div>
        <a href="#" class="btn__mais"
        >Mostrar mais<i class="fas fa-sort-down"></i
        ></a>
        <hr />

        <h5>Serviços</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Wi-fi gratuito
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Café da manhã
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Piscina
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Estacionamento gratuito
        </label>
        </div>
        <a href="#" class="btn__mais"
        >Mostrar mais<i class="fas fa-sort-down"></i
        ></a>

        <hr />
        <h5>Bairros</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Florida Center
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Lake Buena Vista
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Florida Mall
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Central Business District
        </label>
        </div>
        <a href="#" class="btn__mais"
        >Mostrar mais<i class="fas fa-sort-down"></i
        ></a>

        <hr />
        <h5>Categoria do hotel</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            5 estrelas
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            4 estrelas
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            3 estrelas
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            2 estrelas
        </label>
        </div>
        <hr />

        <h5>Tipo</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Econômico
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Categoria média
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Luxuoso
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            Familiar
        </label>
        </div>
        <a href="#" class="btn__mais"
        >Mostrar mais<i class="fas fa-sort-down"></i
        ></a>
    </div>
    <!-- fim menu lateral -->

    <!-- cards hotéis -->
    <div class="col-12 col-sm-12 col-md-7 col-lg-8 my-4">
        <!-- card 1 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/hoteis/hotel1.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Walt Disney World Dolphin</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                1510 avaliações
                </p>
                <p class="card-text">
                1º melhor custo-benefício de 2.487 lugares para se hospedar
                em: Orlando
                </p>
                <p class="card-text">
                <i class="fas fa-wifi"></i>Wi-fi gratuito
                </p>
                <p class="card-text">
                <a href="#" class="btn__mais"
                    ><i class="fas fa-pump-medical"></i>Com medidas de
                    segurança</a
                >
                </p>
            </div>
            </div>
        </div>
        </div>

        <!-- card 2 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/hoteis/hotel2.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">The Grove Resort & Water Park Orlando</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                600 avaliações
                </p>
                <p class="card-text">
                2º melhor custo-benefício de 2.487 lugares para se hospedar
                em: Orlando
                </p>
                <p class="card-text">
                <i class="fas fa-wifi"></i>Wi-fi gratuito
                </p>
                <p class="card-text">
                <i class="fas fa-cocktail"></i>Bar/Lounge
                </p>
                <p class="card-text">
                <a href="#" class="btn__mais"
                    ><i class="fas fa-pump-medical"></i>Com medidas de
                    segurança</a
                >
                </p>
            </div>
            </div>
        </div>
        </div>

        <!-- card 3 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/hoteis/hotel3.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Loews Sapphire Falls Resort At Universal Orlando</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                2.222 avaliações
                </p>
                <p class="card-text">
                3º melhor custo-benefício de 2.487 lugares para se hospedar
                em: Orlando
                </p>
                <p class="card-text">
                <i class="fas fa-wifi"></i>Wi-fi gratuito
                </p>
                <p class="card-text">
                <i class="fas fa-concierge-bell"></i>Serviço de quarto
                </p>
                <p class="card-text">
                <a href="#" class="btn__mais"
                    ><i class="fas fa-pump-medical"></i>Com medidas de
                    segurança</a
                >
                </p>
            </div>
            </div>
        </div>
        </div>

        <!-- card 4 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/hoteis/hotel4.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Universal’s Endless Summer Resort – Dockside Inn and Suites</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                2.711 avaliações
                </p>
                <p class="card-text">
                4º melhor custo-benefício de 2.487 lugares para se hospedar
                em: Orlando
                </p>
                <p class="card-text">
                <i class="fas fa-wifi"></i>Wi-fi gratuito
                </p>
                <p class="card-text">
                <a href="#" class="btn__mais"
                    ><i class="fas fa-pump-medical"></i>Com medidas de
                    segurança</a
                >
                </p>
            </div>
            </div>
        </div>
        </div>

        <!-- card 5 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/hoteis/hotel5.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Hyatt Regency Orlando International Airport</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                1.405 avaliações
                </p>
                <p class="card-text">
                5º melhor custo-benefício de 2.487 lugares para se hospedar
                em: Orlando
                </p>
                <p class="card-text">
                <i class="fas fa-wifi"></i>Wi-fi gratuito
                </p>
                <p class="card-text">
                <i class="fas fa-concierge-bell"></i>Serviço de quarto
                </p>
                <p class="card-text">
                <a href="#" class="btn__mais"
                    ><i class="fas fa-pump-medical"></i>Com medidas de
                    segurança</a
                >
                </p>
            </div>
            </div>
        </div>
        </div>

        <!-- card 6 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/hoteis/hotel6.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Universal's Cabana Bay Beach Resort</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                583 avaliações
                </p>
                <p class="card-text">
                6º melhor custo-benefício de 2.487 lugares para se hospedar
                em: Orlando
                </p>
                <p class="card-text">
                <i class="fas fa-wifi"></i>Wi-fi gratuito
                </p>
                <p class="card-text">
                <i class="fas fa-utensils"></i>Restaurante
                </p>
                <p class="card-text">
                <a href="#" class="btn__mais"
                    ><i class="fas fa-pump-medical"></i>Com medidas de
                    segurança</a
                >
                </p>
            </div>
            </div>
        </div>
        </div>

        <!-- card 7 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/hoteis/hotel7.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Orlando World Center Marriott</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                315 avaliações
                </p>
                <p class="card-text">
                7º melhor custo-benefício de 2.487 lugares para se hospedar
                em: Orlando
                </p>
                <p class="card-text">
                <i class="fas fa-wifi"></i>Wi-fi gratuito
                </p>
                <p class="card-text">
                <i class="fas fa-cocktail"></i>Bar/Lounge
                </p>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>