@{
    ViewData["Title"] = "Cultura";
}

<!-- conteudo principal -->
<div class="container-fluid my-2 conteudo__principal">
    <div class="row justify-content-center">
    <!-- menu lateral -->
    <div
        class="
        col-12 col-sm-12 col-md-3 col-lg-3
        my-2
        menu__lateral
        align-items-center
        "
    >
        <!-- opções -->
        <h5>COVID-19</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Com medidas de segurança
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Evitar multidões
        </label>
        </div>
        <hr />

        <h5>Duração</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Até 1 hora
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            1 a 4 horas
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckChecked"
        >
            4 horas a 1 dia
        </label>
        </div>
        <hr />

        <h5>Idiomas</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Inglês
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Espanhol
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Francês
        </label>
        </div>
        <hr />

        <h5>Cancelamento grátis</h5>
        <div class="form-check">
        <input
            class="form-check-input checkbox checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
            checked
        />
        <label
            class="form-check-label acessibilidade mx-2"
            for="flexCheckDefault"
        >
            Cancelamento grátis
        </label>
        </div>
        <hr />
    </div>
    <!-- fim menu lateral -->

    <!-- cards hotéis -->
    <div class="col-12 col-sm-12 col-md-7 col-lg-8 my-4">
        <!-- card 1 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/cultura/cultura1.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Excursão Ghost Tour Interativo pela Downtown Orlando</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                419 avaliações
                </p>
                <p class="card-text">
                Esta excursão de duas horas levará você ao centro histórico de Orlando, lar dos mais assustadores mistérios não resolvidos e dos escândalos assustadores da história de Orlando. Seu experiente guia turístico lhe informará sobre a história desses lugares assustadores e lhe contará histórias de fantasmas em primeira mão. Ao longo do caminho, você vai experimentar equipamentos profissionais de caça fantasma, assim como os profissionais usam. 
                </p>
                <a href="#">Ver mais informações</a>
            </div>
            </div>
        </div>
        </div>

        <!-- card 2 -->
        <div class="card mb-3">
        <div class="row g-0">
            <div class="col-4">
            <img
                class="img-fluid"
                src="~/images/cultura/cultura2.jpg"
                alt="fachada do Hotel Malte"
            />
            </div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Pavões, presidentes e quebra-cabeças - The Winter Park Walking Tour</h5>
                <p class="card-text lh-lg">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                214 avaliações
                </p>
                <p class="card-text">
                Bem-vindo a um dos segredos mais bem guardados da Flórida, a encantadora cidade de Winter Park! Fundado em 1887, Winter Park tem mais de 100 anos e tem o pedigree para provar isso. Sede da primeira faculdade da Flórida, onde vários presidentes dos EUA trocam os calafrios de Washington por um paraíso tropical e o ímã sulista de muitos visitantes famosos, Winter Park tem uma história rica à espera de ser explorada e descoberta!
                </p>
                <a href="#">Ver mais informações</a>
            </div>
            </div>
        </div>
        </div>
        
    </div>
    </div>
</div>